@font-face {
    font-family: 'TT Lakes Regular';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    position: relative;

    overflow: hidden;
}

.sidebar {

    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 320px;
    height: 100%;

    overflow-y: auto;

    font-family: 'TT Lakes Medium', sans-serif;

    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

    display: flex;
    flex-direction: column;

}

.button-pink {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 62, 121, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pink__icon {

}

a {
    display: inline-block;
    padding:0;
    margin:0;

    text-decoration: none;
}

/*header*/

.header {
    display: flex;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    

    height: 88px;
    /* box-sizing: content-box; */
}

.header__menu_left {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 88px;
    width: 50%;
}

.header__menu_right {    
    display: flex;
    justify-content: end;
    align-items: center;
    height: 88px;
    width: 50%;

}

 .header__menu_left .header__element {
    margin-right: 16px;
}

.header__menu_right .header__element {
    margin-left: 16px;
} 

.header__element {
    display:  flex;
    align-items: center;
}

/*main*/
main {
    flex-grow: 1;
}
.container {
    padding-top: 30px;

    position: relative;
}

.main-menu__list {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    margin: 0;
    padding: 0;

    list-style: none;
}

.main-menu__element {
    margin-bottom: 32px;
    margin-left: 24px;
}


.main-menu__link {
    text-decoration: none;
    color: inherit;
}

.main-menu__text {
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}


.main-menu__element:first-child > .main-menu__link span{
    color: #7E7E82;
}

/*footer*/
.footer {
    margin: 0;
    padding: 0;
    margin-left: 24px;
}
.contacts {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 40px; 
}

.contacts__links {
    display: flex;
    margin-bottom: 16px;
}

.contacts__links > div {
    margin-right: 16px;
}

.contacts__mail {
    margin-bottom: 12px;
}

.contacts__mail_text {
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    text-decoration: none;
}

.contacts__phone-number_text {
    color: #1B1C21;
    font-size: 24px;
    font-family: 'TT Lakes Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;

    text-decoration: none;
}

.lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 32px;
}

.lang div {
    margin-right: 8px;
}

.lang__label {
    display: inline-block;
    cursor: pointer;
}

.lang__radio-input {
    display: none;
  }

.lang div label {
    color: #1B1C21;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.lang__radio-input:checked + .lang__label {
    color: #7E7E82;
}

.main-menu__highlight {
    position: absolute;
    left: 0;
    top:  25px;

    background-image: url('image/highlight-small.svg');
    background-repeat: no-repeat;

    height: 32px;
    width: 4px;
}

/* animation */

@keyframes rotate90 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate15 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes box-shadow {
    0% {
        box-shadow: none;
        border-radius: 50%;
    }

    100% {
        box-shadow: 0 0 5px 2px rgba(255, 62, 121, 5);
        border-radius: 50%;
    }
}

.link__burger-to-close:hover {
    animation-name: rotate90;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
} 

.link__call:hover {

    animation-name: rotate15;
    animation-timing-function: linear;
    animation-delay: 100ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 6;
}

.link__search:hover {
    transform: translateY(5px) translateX(5px) scale(1.75);
}

.button-pink:hover {
    animation-name: box-shadow;
    animation-timing-function: ease;
    animation-delay: 200ms;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.button-pink__icon {

    transition-property: transform;
    transition-duration: 1.5s;
    transition-delay: 100ms;
}

.contacts__links .button-pink__icon:hover {
    transform: scale(0.80)
}